---
Language:        Cpp
BasedOnStyle:  LLVM
IndentWidth:     8
UseTab:          Always
TabWidth:        8
ColumnLimit:     80
BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
SortIncludes:    true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
IndentCaseLabels: false
AlwaysBreakAfterReturnType: All
...


